@model List<UsuarioModel>

@{
	ViewData["Title"] = "Listagem de usuários";
}

<!--Botão de voltar para tela anterior.-->
<button onclick="history.back()" title="Clique para voltar(Alt + Seta para a esquerda)">Voltar</button><p>


<div class="text-left">
	<div class="d-grid gap-2 d-md-flex justify-content-md-start">
		<a class="btn btn-primary" role="button" asp-controller="Usuario" asp-action="CadastrarUsuario">Adicionar novo usuário</a>
		<br />
	</div>

	<div class="text-center">
		<h1 class="display-4">Listagem de Usuários</h1>
	</div>
	@if (TempData["MensagemSucesso"] != null)
	{
		<!--Modal, cada caixa de alerta.-->
		<div class="alert alert-success" role="alert">
			<button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
			O usuário foi @TempData["MensagemSucesso"] com sucesso!
		</div>
	}

	<!--Implementar uma -->
	@if (TempData["MensagemErro"] != null)
	{
		<div class="alert alert-danger" role="alert">
			<button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
			@TempData["MensagemErro"]
		</div>
	}

	<!-- Bootstrap Table example -->
	<table class="table table-striped" id="table-usuarios">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nome</th> <!--Não permitir esse campo vazio ou com caracter numérico ou especial. -->
				<th scope="col">E-mail</th> <!-- Usar REGEX para validar e-mail!-->
				<th scope="col">Login</th> <!-- Não permitir esse campo vazio!-->
				<th scope="col">Data de Cadastro</th> <!-- Não permitir esse campo vazio!-->
				<th scope="col">Última Alteração</th>
				<th scope="col">Nivel de permissão</th> <!-- Não permitir esse campo vazio!-->
				<th scope="col"><!--Botões de edição/exclusão. --></th>
			</tr>
		</thead>
		<tbody>
			@if (Model != null && Model.Any())
			{
				var contador = 1; ;// Contador para enumerar os usuários.
				foreach (var register in Model.OrderBy(r => r.Nome))
				{
					<tr>
						<th scope="row">@contador</th>
						<td>@register.Nome</td>
						<td>@register.Email</td>
						<td>@register.Login</td>
						<td>@register.DataCadastro.ToString("dd/MM/yyyy - HH:mm")</td>
						<td>@(register.DataAtualizacao != null? register.DataAtualizacao.Value.ToString("dd/MM/yyyy - HH:mm") : "Sem atualizações, até o momento!")</td>
						<td>@(register.NivelPermissao == Agenda.Contatos.Enums.Permissao.Admin ? "Administrador" : "Padrão")</td>
						<td align="right">
							<div class="btn-group" role="group">
								<a role="button" class="btn btn-primary" asp-route-id="@register.Id" asp-controller="Usuario" asp-action="EditarUsuario">Editar</a>
								<a role="button" class="btn btn-danger" asp-route-id="@register.Id" asp-controller="Usuario" asp-action="ApagarConfirmacao">Apagar</a>
							</div>
						</td>
					</tr>
					contador++;
				}
			}
		</tbody>
	</table>
</div>